
<h1 class="page-header"> Tasks
   <div class= "pull-right">

       <%= link_to 'New Task', new_task_path, class: "btn btn-info" %>

    </div>
</h1>

<table class= "table">


  <thead><strong>Description</strong></thead>
  <tbody>
  <% @tasks.each do |t| %>


  <tr>
    <td> <%=link_to t.description, task_path(t) %>
    <div class = "pull-right">
      <%= link_to 'Edit', edit_task_path(t), class: "btn btn-info" %>
      <%= link_to 'Delete', task_path(t), method: :delete,class: "btn btn-danger"%>
    </div>
    </td>
  </tr>
  </tbody>






<% end %>
</table>
