  <h1 class = "page-header">
      Users
      <div class = "pull-right">
        <%= link_to "New User", new_user_path, class: "btn btn-info" %>
      </div>
  </h1>


  <% if flash[:success] %>
    <div class= "alert alert-success text-center">
      <%= flash[:success] %>
    </div>
  <% end %>

    <table class = "table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <% @users.each do |u| %>

        <tr>
          <td>
            <%=u.first_name+" "+u.last_name %>
          </td>
          <td>
            <%= mail_to u.email %>
          </td>
        </tr>


      <% end %>
  </table>
