<nav class="navbar navbar-inverse navbar-fixed-top">


    <a class="navbar-brand" href="#">gCamp</a>

</nav>

<div class="container">

  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized</p>

  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("writing.jpg", class:"img-responsive") %>
    </div>

    <div class="col-md-4">
      <%= image_tag("tablet.jpg", class:"img-responsive") %>
    </div>

    <div class="col-md-4">
    <%= image_tag("distress.jpg", class:"img-responsive") %>
    </div>
  </div>

</div>
